<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">
	 <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

	.center {
	vertical-align:center;
	margin: 60px;
    margin-top: 15px;
	}
	.right {
  position: absolute;
  right: 0px;
  width: 400px;
  padding: 10px;
}
	.row{
		margin: 0 0 0 0px;
	}
	.heading div{
		display:inline-block
	}
	.exp{visibility: hidden;}
	.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
	.image1{
		height: 200px;
	}
	
</style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ICON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/movies/trending">Trending<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies">Most Popular<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/toprated">Top Rated<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/upcoming">Upcoming<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form action="/movies/search" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"name="movies" type="search" placeholder="Enter the movie name" aria-label="Search" size="30">
      <button class="btn btn-outline-success my-2 my-sm-0 button" type="submit">Search</button>
    </form>
    <ul class="navbar-nav " align="right">
     <% if(!currentUser){ %>
	<li class="nav-item mr-auto">
        <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item mr-auto">
        <a class="nav-link" href="/register">Sign Up<span class="sr-only">(current)</span></a>
      </li>
	   <% } else { %>
		 <li class="nav-item mr-auto">
        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
      </li> 
		<li class="nav-item mr-auto">
        <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
      </li>
		 <% } %>
		
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<div class=".container-fluid">
	<div style="align:center">
		<h1 style="color:blue;align:right">
				Email Your Favourites
		</h1>
	</div>
	
<div>
	<form action="/send/favourate" method="POST" class="form-inline my-2 my-lg-0 and center">
      <input class="form-control mr-sm-2"name="email" type="search" placeholder="Enter Your email" aria-label="Search" size=40>
      <button class="btn btn-outline-success my-2 my-sm-0 button" type="submit">Submit</button>
	</form>
	</div>
	</div><form action="/profile" method="GET" class="inline" align ="center" >
				<button class="btn btn-outline-success my-2 my-sm-0 button" type="link" >
					Back To Profile
				</button>
				</form>
	<br>
<%- include ("partials/footer") %>
