<%- include("partials/header") %>

	<br>
	<div align="center" class="nex-pre" >
	<form action="/movies/trending/previous" method="GET" >
		<button class="btn btn-outline-success my-2 my-sm-0 button" type="submit" align="center"style="margin:15 3 3 3px">
	PREVIOUS
	</button>
		</form>
	 <form action="/movies/trending/next" method="GET" class="inline" >
 <button type="submit" class="btn btn-outline-success my-2 my-sm-0 button" style="margin:3 3 3 3px"> NEXT</button>
 </form>
	</div>
<br>
<h3 align="center" style="textcolor:red">
<%=parsedData.page%>
</h3>
	<br>
<%- include ("partials/footer") %>

