<%- include("partials/header") %>

	<br>
	<div align="center" >
	 <form action="/movies/trending/next" method="GET" class="inline" >
 <button type="submit" class="btn btn-outline-success my-2 my-sm-0 button" > NEXT</button>
 </form>
	<form action="/movies/trending/previous" method="GET" class="inline" >
		<button class="btn btn-outline-success my-2 my-sm-0 button" type="submit" align="center">
	PREVIOUS
	</button>
		</form>
	</div>

<%- include ("partials/footer") %>

